<!DOCTYPE html>
<html>

<head>
    <title>Rasmuss Blog | Home</title>

    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <div class="background"></div>

    <div class="header">
        <a href="/">Home</a>
        <a href="/posts">Posts</a>
        <a href="/about">About</a>
    </div>
</body>

</html>